{% extends "base.html" %}

{% block home %}
<div>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                {% if message.tags == "success" %}
                    <div class="alert alert-success" id="message-alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>
<div>
    <h1 class="text-center justify-content-center p-4">Share your voice and vision through a blog that is uniquely yours.</h1>
    <h4 class="text-center justify-content-between"> Build it with ease and let the world discover your story.</h4> 
    <div>
        <button class="bg-"> <a href="{% url 'blogpost:post_create' %}">CREATE YOUR BLOG</a></button>
    </div>
</div>

{% endblock home %}
