{% extends "base.html" %}

{% block home %}
<div>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                {% if message.tags == "success" %}
                    <div class="alert alert-success" id="message-alert">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>
<div class="container d-flex justify-content-end bg-image text-center">
    <div class="align-content-center">
        <h1 class="display-4 text-white fw-bold mb-3">Share Your Voice and Vision</h1>
        <h4 class="lead text-white mb-4">Build your blog with ease and let the world discover your story.</h4>
        <a href="{% url 'blogpost:post_create' %}" class="btn btn-primary btn-lg">Create Your Blog</a>
    </div>  
</div>

{% endblock home %}
