{% extends "base.html" %} 
{% load crispy_forms_tags %} 
{% block title %}Update Post{% endblock %} 

{% block blogpost %}
<!-- post update sections -->
<div class="container pt-5 mt-5">
  <h2 class="text-white mb-4">Update Post: {{ post.title }}</h2>

  <form method="post" class="bg-light p-4 rounded shadow-sm">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Update Post</button>
  </form>
  
  <div class="mt-3 d-flex justify-content-center align-items-center pb-4">
    <a href="{% url 'blogpost:post_detail' post.pk %}" class="btn btn-danger">Cancel</a>
  </div>
</div>
{% endblock blogpost %}
