{% extends "base.html" %}

{% block blogpost %}
<div class="container mt-4">
    <div class="row">
        {% for post in posts %}
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
                <div class="card">
                    <div class="card-body">
                        <a href="{% url 'blogpost:post_detail' post.pk %}" class="text-decoration-none text-dark">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">By {{ post.author.username }} | {{ post.timestamp|date:"F j, Y, g:i a" }}</h6>
                            <p class="card-text">{{ post.content|truncatewords:30 }}</p>
                            <a href="{% url 'blogpost:post_detail' post.pk %}" class="btn btn-primary">Read More</a>
                        </a>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="col-12">
                <div class="alert alert-info" role="alert">
                    No posts available.
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock blogpost %}