{% extends "base.html" %}
{% block title %}{{ user.username }}'s Profile{% endblock title %}
{% block blogpost %}
<div class="container justify-content-center align-items-center mt-5 pt-5">
    <h1 class="text-center text-white fw-bold mb-1">{{ user.username }}'s Profile</h1>
    <h2 class="text-center text-white mb-4">Posts by {{ user.username }}</h2>

    <!-- Post List -->
    {% if posts_list %}
        <div class="row row-cols-1 gap-4 w-auto">
            {% for post in posts_list %}
                <div class="col">
                    <div class="card w-auto h-auto">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <h6 class="card-subtitle mb-4">By {{ post.author.username }} | {{ post.timestamp|date:"F j, Y, g:i a" }}</h6>
                            <p class="card-text lead custom-content">{{ post.content|linebreaks|truncatewords:100 }}</p>
                            <a href="{% url 'blogpost:post_detail' post.pk %}" class="btn btn-primary">Read More..</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- Pagination Controls -->
        <nav aria-label="Page navigation" class="pt-5">
            <ul class="pagination justify-content-center">
                {% if posts_list.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Previous">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M5.707 1.5a1 1 0 0 0-1.414 0l-4 4a1 1 0 0 0 0 1.414l4 4a1 1 0 0 0 1.414-1.414L3.414 7H15a1 1 0 1 0 0-2H3.414l2.293-2.293a1 1 0 0 0 0-1.414z"/>
                            </svg>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M5.707 1.5a1 1 0 0 0-1.414 0l-4 4a1 1 0 0 0 0 1.414l4 4a1 1 0 0 0 1.414-1.414L3.414 7H15a1 1 0 1 0 0-2H3.414l2.293-2.293a1 1 0 0 0 0-1.414z"/>
                            </svg>
                        </span>
                    </li>
                {% endif %}

                {% for num in posts_list.paginator.page_range %}
                    {% if posts_list.number == num %}
                        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if posts_list.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Next">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10.293 1.5a1 1 0 0 1 1.414 0l4 4a1 1 0 0 1 0 1.414l-4 4a1 1 0 0 1-1.414-1.414L12.586 7H1a1 1 0 1 1 0-2h11.586L10.293 2.914a1 1 0 0 1 0-1.414z"/>
                            </svg>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10.293 1.5a1 1 0 0 1 1.414 0l4 4a1 1 0 0 1 0 1.414l-4 4a1 1 0 0 1-1.414-1.414L12.586 7H1a1 1 0 1 1 0-2h11.586L10.293 2.914a1 1 0 0 1 0-1.414z"/>
                            </svg>
                        </span>
                    </li>
                {% endif %}
            </ul>
        </nav>

    {% else %}
        <p class="text-center">No posts available.</p>
    {% endif %}
    
</div>

{% endblock blogpost %}